<main class="app-container">
  <div class="header-section">
    <h1 class="main-heading">Welcome</h1>

    <nav class="nav-section">
      <a class="nav-link" routerLink="">List</a>
      <a class="nav-link" routerLink="add">Add</a>
      <a class="nav-link" routerLink="login">Login</a>
      <a class="nav-link" routerLink="signup">Signup</a>
    </nav>
  </div>

  <section class="content-section">
    <!-- This is where the route gets displayed -->
    <router-outlet></router-outlet>
  </section>
</main>
