<main class="app-container">
  <div class="header-section">
    <h1 class="main-heading">Government Department Bulletin Board</h1>

    <nav class="nav-section">
      <a *ngIf="authservice.getToken()" class="nav-link" routerLink="posts">Announcements</a>
      <a *ngIf="authservice.getToken()" class="nav-link" routerLink="add">Add Announcement</a>
    
    
      <!-- Display 'Login' or 'Logout' based on token presence in local storage -->
      <a *ngIf="!authservice.getToken()" class="nav-link" routerLink="login">Login</a>
      <a *ngIf="authservice.getToken()" class="nav-link" (click)="logout()">Logout</a>
    
      <!-- Display 'Register' only if not authenticated -->
      <a *ngIf="!authservice.getToken()" class="nav-link" routerLink="signup">Register</a>
      
      <!-- Display user's name if authenticated -->
      <!-- Assuming you have a method in your service to get the current user's name. -->
      <span *ngIf="authservice.currentUser?.name">Welcome, {{ authservice.currentUser.name }}!</span>
    </nav>
    
  </div>

  <section class="content-section">
    <!-- This is where the route gets displayed -->
    <router-outlet></router-outlet>
  </section>
</main>
